@import "~App/scss/mixins";

.order{
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;

  & > div{
    @include flex-container($justify: start, $align-items: center);
    padding-left: 1rem;

    .color{
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }

    label{
      margin: 0 1rem;
    }
  }
}