@import "~App/scss/variables";

.coloured-slider{
  width: 100%;
  color: $white;
  height: 1.5rem;
  font-size: 0.9em;
  text-align: center;

  span{
    opacity: 0.8;
    border-right: 1px solid rgba($white, 0.4);
    padding: 0 0.2rem;
    
    &:first-child{
      border-radius: 1rem 0 0 1rem;
    }
    &:last-child{
      border-radius: 0 1rem 1rem 0;
      border-right: none;
    }
    &:only-child{
      border-radius: 1rem;
    }
    &:hover{
      opacity: 1;
    }
  }
}