.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  @include media("phone"){
    max-width: 540px;
  }
  @include media("tablet-portrait"){
    max-width: 720px;
  }
  @include media("tablet-landscape"){
    max-width: 960px;
  }
  @include media("desktop"){
    max-width: 1140px;
  }    
}