@import "~App/scss/mixins";
@import "~App/scss/variables";

.cart-item{
  .cart-header{
    @include flex-container($align-content: center, $justify: space-between, $align-items: center);
    background-color: $primary-color;
    color: white;
    padding: 0.4rem 1rem;
    svg{
      width: 1rem;
      height: 1rem;
      opacity: 0.8;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .cart-body{
    li{
      @include flex-container($align-content: center, $justify: space-between);
    }
  }
}